.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
}

.card{
  border: 0.1rem solid black;
 max-width: 500px;
 max-height: 240px;
 background-color: rgb(228, 228, 228);
}